label {
	display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 0px;
}

table#example {
    width: 75%;
    margin-bottom: 50px;
}

.row {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 50px;
}

.center {
	margin: auto;
    width: 50%;
    /*border: 3px solid green;	*/  
    padding: 10px;
}

.search-btn {
	display: flex;
    justify-content: center;
    align-items: center;
}

.required:after {
    content:" *";
    color: red;
}